@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-color: #eaf3ff;
	font-family: "Poppins", sans-serif !important;
}
caption {
	margin-bottom: 3rem;
	background-color: yellow;
}
.panel-heading {
	font-size: 14px;
	letter-spacing: 1px;
}
.gt {
	font-size: 18px;
	font-weight: 600;
	color: rgb(10, 175, 74) !important;
	margin-top: 0.7rem;
}
.td:hover {
	transition: all 0.3s ease-in-out;
}
.s-o {
	float: right !important;
}
.s-o a {
	text-decoration: none;
	color: white;
}
.s-o:hover {
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 4px 9px rgba(33, 33, 235, 0.274);
}
.btn-default {
	border: 1px solid #fff;
	margin-left: 2px;
	transition: all 0.3s ease-in-out;
}
.btn-default a {
	text-decoration: none;
	color: rgb(52, 52, 233);
}

footer {
	margin-top: 1vw;
}
footer .l-1 {
	border: 2.5px solid #5388be44;
	border-radius: 6px;
	width: 30%;
}
footer .container {
	font-weight: 600;
}

@media (max-width: 768px) {
	footer span {
		font-size: 13px;
	}
	.gt {
		margin-top: 2rem;
	}
}
